<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="layout">
      <!-- Left panel with image -->
      <aside class="sidebar">
        <img src="{{ '/assets/img/IMG_1712.png' | relative_url }}" alt="Profile Image" class="profile-img" />
      </aside>

      <!-- Main content area -->
      <div class="main-content">
        <header>
          <nav>
            <ul class="navbar">
          <li><a href="{{ '/index' | relative_url }}">Home</a></li>
          <li><a href="{{ '/industry' | relative_url }}">Industry</a></li>
          <li><a href="{{ '/academics' | relative_url }}">Academic</a></li>
          <li><a href="{{ '/publications' | relative_url }}">Publications</a></li>
          <li><a href="{{ '/patents' | relative_url }}">Patents</a></li>
          <li><a href="{{ '/awards' | relative_url }}">Awards</a></li>
          <li><a href="{{ '/service' | relative_url }}">Service</a></li>
          <li><a href="{{ '/contact' | relative_url }}">Contact</a></li>
        </ul>
          </nav>
        </header>

        <main>
          {{ content }}
        </main>
      </div>
    </div>
  </body>
</html>
